body {
    font-family: Calibri;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bolded { font-weight: bold; }
.tab { margin-left: 40px; }
.main {
    background-color: #aaaaaa;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    border: 1px solid black;
}
td:nth-child(even) {background: #CCC}
td:nth-child(odd) {background: #FFF}

.outlined {
    border: 1px solid black;
}
.profile {
    display: block;
}
h1 {
    padding: 5px;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    position: fixed;
    margin-left: 70%;
  }
  
  .vertical-menu a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
